<form id="contactForm" method="post" action="//formspree.io/aolczak@gmail.com">
  <fieldset>
    <h1 class="form__title">Contact Us</h1>
    <h5 class="form__description">We would be delighted to hear from you.</h5>
    <h5 class="form__description">Please let us know how we may be of service.</h5>
    <div class="form__group">
      <label for="name" class="form__label">Name:</label>
      <input type="text"
            class="form__input name"
            name="name"
            data-name-placeholder="Name"
            tabindex="1"
            maxlength="30"
            required>
    </div>
    <div class="form__group">
      <label for="_replyto" class="form__label">Email Address:</label>
      <input type="email"
            class="form__input email"
            name="_replyto"
            data-name-placeholder="Email Address"
            tabindex="1"
            maxlength="100"
            required>
    </div>
    <div class="form__group">
      <label for="subject" class="form__label">Subject:</label>
      <input type="text"
            class="form__input subject"
            name="subject"
            data-name-placeholder="Subject"
            tabindex="1">
    </div>
    <div class="form__group">
      <label for="comment" class="form__label">Comments:</label>
      <textarea name="comment"
        form="contactForm"
        col="100"
        rows="10"
        tabindex="1"
        placeholder="Enter Comments here...">
      </textarea>
    </div>
    <input type="hidden" name="_subject" value="New Contact Form Submission"/>
    <input type="hidden" name="_next" value="/index.html"/>
    <input type="hidden" name="_gotcha" tabindex="1" maxlength="100">
    <div class="form__group">
      <input type="submit"
            class="form__input btn-submit"
            value="Send"
            tabindex="1"
            required>
    </div>
  </fieldset>
</form>
